.wrapper {
  margin: 0 0 20px 0;
  width: auto;
  height: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  align-content: end;
  justify-content: center;
}
.box {
  color: black;
  border-radius: 5px;
  padding: 0px;
}
.heading {
  grid-column: 1;
  grid-row: 1;
}
.title {
  text-align: center;
  font-size: 67px;
  padding: 0;
  margin: 0;
  font-family: 'Mali', cursive;
  color: aliceblue;
}

/* #startGame {
  text-align: center;
  font-size: 45px;
  font-family: 'Mali', cursive;
} */
.start-button {
  grid-column: 1;
  grid-row: 3;
  background-color: whitesmoke;
}

/* backgrounds */
#gamebackground{
  padding: 25px;
  background: url(backgroundmaybe2.png);
  background-repeat: no-repeat;
  background-size: 615px 350px;
}

#background2 {
  background-color: white;
}

/* more display features */
.level-display {
  grid-column: 4/5;
  grid-row: 3;
  background-color: pink;
}
.shelf {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  height: 300px;
  grid-gap: 10px;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shelf > div {
  position: relative;
}

.shelf > div > img.leaves {
  display: block;
  position: absolute;
  top: -85px;
  overflow: hidden;
}

/* Pots */
.box.pot-0 {
  grid-column: 1;
  grid-row: 2;
}
.box.pot-1 {
  grid-column: 2;
  grid-row: 2;
}
.box.pot-2 {
  grid-column: 3;
  grid-row: 2;
}
.box.pot-3 {
  grid-column: 4;
  grid-row: 2;
}
.pot{
  z-index: 1;
}
.leaves {
  z-index: -1;
  padding-left: 10px;
}
.pot-0.leaves {
  grid-column: 1;
  grid-row: 1;
}
.pot-1.leaves {
  grid-column: 2;
  grid-row: 1;
}
.pot-2.leaves {
  grid-column: 3;
  grid-row: 1;
}
.pot-3.leaves {
  grid-column: 4;
  grid-row: 1;
} 
.leaves.level-0{
  position: relative;
}

/* animations and filters */
.wiggle {
  animation: shake-rotate 0.75s;
}

.success {
  filter: saturate(150%);
}

.dead {
  filter: opacity(50%);
}
